name: Daily Auto-Commit at 1AM

on:
  schedule:
    - cron: '0 1 * * *' 
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write
  statuses: write

jobs:
  auto-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true
          fetch-depth: 0

      - name: Update timestamp
        run: |
          echo "Последнее обновление: $(date '+%d.%m.%Y %H:%M:%S')" > last_update.txt
          echo "Build ID: $(date +%s)" >> last_update.txt

      - name: Force commit
        run: |
          git config --global user.name "1ErOmA1"
          git config --global user.email "cbtddbdhvethgd@gmail.com"
          git add .
          git commit --allow-empty -m "Automatic commit at 1AM [$(date '+%d.%m.%Y')]"
          git push origin HEAD:main
